.participant_list_wrapper {
  height: calc(100vh - 92px);
  padding: 10px;
  .participant_lists {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
